/*+++++++ Gray Background +++++++*/
#page 
{
	background-color: #F4F4F4;
}

/*+++++++ Blue Text +++++++*/
#app_name,
.tabs .inbox,
.tabs .archive
{
	color: #328EF8;
}

/*+++++++ Black text on white background +++++++*/
#topics_list .tab_content,
#topic_view .topic .body,
#dynamic_third .profile .content,
#dynamic_third .contacts .body
{
	color: black;
	background-color: white;
}

/*+++++++ Blue on White +++++++*/
#topic_view .topic .header,
#topic_view .users .creator,
.tabs .inbox,
#dynamic_third .header
{
	background-color: #2C77E2;
	background: -webkit-gradient(linear, left top, left bottom, from(#4EAFF9), to(#328EF8));
	color: white;
}

/*+++++++ Black on Gray Radient +++++++*/
#top_menu li
{
	background-color: #CECECE;
	background: -webkit-gradient(linear, left top, left bottom, from(#BFC0BF), to(#DADADA));
	color: black;
}

/*+++++++ Black on Gray Radient Inverted +++++++*/
{
	background-color: #CECECE;
	background: -webkit-gradient(linear, left bottom, left top, from(#BFC0BF), to(#DADADA));
	color: black;
}

/*+++++++ Green Background +++++++*/
.tab_content .topic > .metadata .unread_count 
{
	background-color: #98CF35;
}

/*+++++++ Blue Button +++++++*/
#new_wobble_button,
#add_participant_button {
	color: white;
	background-color: blue;
}


/*+++++++ Round Top Corners +++++++*/
#topics_list .topic .creator,
#topic_view .users img,
.tab,
#topic_view .topic
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*+++++++ Round Bottom Corners +++++++*/
#top_menu li,
#top_menu li img,
#topics_list .topic .creator,
#topic_view .users img
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/*+++++++ Gray Border +++++++*/
#topics_list .tab,
#topics_list li,
#topic_view .users .participants > img,
#topic_view .users .creator > img
{
	border-color: #AAA;
}

/*+++++++ Light Shadow +++++++*/
{
	box-shadow: 0px 0px 4px 1px #AAA;
}


/*+++++++ Inner Shadows +++++++*/
#topic_view .topic .body
{
	box-shadow: inset 0px 0px 0.5em 0px #AAA;
}

/*+++++++ Shadows +++++++*/
#page,
#top_menu li,
#topics_list .tab_content,
#topic_view,
#dynamic_third div
{
	box-shadow: 0px 0px 5px #AAA;
}

/*+++++++ Selection Glow +++++++*/
#top_menu li:hover
{
	box-shadow: 0px 0px 7px 2px #2C77E2;
}

