body {
	height: 100% !important;
	overflow: hidden;
}

#page {
	min-width:700px;
	margin: 0px auto;
	padding: 0px 10px;
}

/*+++++++++++ big button +++++++++++*/
#new_wobble_button,
#add_participant_button {
	width: 30px;
	height: 30px;
	font-size: 2em;
	text-decoration: none;
	color: black;
}

/*+++++++++++ Fixing Stuff +++++++++++*/
.anti_collabs {
	clear: both;
	visibility: hidden;
}

.hide {
	visibility: hidden;
}

/*+++++++++++ Header +++++++++++*/
#header {
	float: left;
	height: 50px;
	width: 100%;
}

#app_icon {
	height: 80%;
	float: left;
}

#app_name {
	float: left;
	margin-left: 5px;
}

/*+++++++++++ Top Menu +++++++++++*/
#top_menu {
	float:right;
	min-width:10em;
	list-style-type: none;
	height: 32px;
}

#top_menu li {
	float: left;
	margin: -1px 5px;
	position: relative;
	width:6em;
	height: 20px;
}

#top_menu li img
{
	float: left;
	margin-right:10px;
	height: 100%;
}

#top_menu li div
{
	margin: 0.3em 1.2em;
}


/*+++++++++++ Widgets +++++++++++*/
#widgets {
	clear: both;
	height:80%;
}

#widgets > div {
	height: 100%; /*all widgets use the full height*/
	float:left; /*all float to the left*/
	margin-right: 5px;
}


/*+++++++++++ Topics List +++++++++++*/
#topics_list {
	width: 200px;
	padding: 5px;
	overflow-x: hidden;
}

/*+++++++++++ Tabs +++++++++++*/
#topics_list .tab {
	margin-bottom: -1px;
	margin-right:0.5em;
	padding: 0.2em 1em;
	border-width: 1px;
	border-style: solid;
	float: left;
}

#topics_list .tabs .active {
	border-bottom-style: none;
}

/*+++++++++++ Topics List Line +++++++++++*/
.tab_content {
	height: 100%;
	margin-top: -30px;
	clear: both;
	list-style-type: none;
}

.tab_content ul {
	list-style-type: none;
}

.tab_content li {
	border-width: 1px;
	border-bottom-style: solid;
	clear: right;
	min-height: 36px;
	padding: 3px 5px;
}

.tab_content .topic .creator {
	float: left;
	margin: 2px;
}

/*+++++++++++ Topics List Line Metadata +++++++++++*/
.tab_content .topic > .metadata {
	float: right;
}

.tab_content .topic > .metadata .unread_count {
	padding: 0.1em 0.5em;
	border-radius: 1em;
}

.tab_content .topic > .metadata .time {
	float: right;
	text-align: right;
}


/*+++++++++++ Topic View +++++++++++*/
#topic_view {
	width: 395px;
	/*height: 30px;*/
	margin-top:22px;
}

#topic_view .topic {
	float: left;
	width: 340px;
	height: 30px;
}

#topic_view .topic .header,
#topic_view .users .creator {
	height: 41px;
}

#topic_view .topic .body {
	padding: 1em;
	height: 100%;
}

#topic_view .users {
	float: right;
	height:100%;
	width:65px;
	overflow: hidden;
}

#topic_view .users .participants {
	overflow: hidden;
	height:100%;
}

/*center userpix*/
#topic_view .users .participants > img,
#topic_view .users .creator > img,
#add_participant_button 
{
	float: right;
	margin: 3px 3px 0px 0px;
}

#add_participant_button {
	width: 32px;
}


/*+++++++++++ Dynamic Stuff +++++++++++*/
#dynamic_third {
	width: 280px;
	padding: 5px;
}

#dynamic_third .profile {
	margin-bottom: 20px;
}



